{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
	<h1>Modifier mon profil</h1>

	{{ form_errors(profileForm) }}

	{{ form_start(profileForm, {
      action: path('app_account_edit'),
      method: 'POST',
      attr: { enctype: 'multipart/form-data' }
  }) }}
	{{ form_row(profileForm.photoFile) }}
	{{ form_errors(profileForm.photoFile) }}

	<button class="btn btn-primary" type="submit">Enregistrer</button>
	<a href="{{ path('app_account') }}" class="btn btn-secondary">Annuler</a>
	{{ form_end(profileForm) }}


{% endblock %}
