{% extends 'base.html.twig' %}

{% block title %}Mon Espace
{% endblock %}

{% block body %}


	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link active" aria-current="true" href="#">Mon profil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_reservations') }}">Mes réservations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_trajets') }}">Mes trajets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_vehicules') }}">Mes véhicules</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_preferences') }}">Mes préférences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_statut') }}">Mon statut</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_avis') }}">Mes avis</a>
				</li>
			</ul>
		</div>
		<div class="card-body">

			<h5 class="card-title">Bonjour,
				{{app.user.pseudo}}
				!</h5>

			<p class="card-text">

				<hr>


				{% if app.user.statut == 'passager_chauffeur' %}
					<i class="fa-solid fa-suitcase"></i>
					Passager et
					<i class="fa-solid fa-car-side"></i>
					Chauffeur
				{% elseif  app.user.statut == 'passager' %}
					<i class="fa-solid fa-suitcase"></i>
					Passager
				{% elseif  app.user.statut == 'chauffeur' %}
					<i class="fa-solid fa-car-side"></i>
					Chauffeur
				{% endif %}

				<hr>


				<i class="fa-solid fa-coins"></i>
				<strong>{{ app.user.credits }}</strong>
				crédits.

				<hr>

				{% if app.user.photoFilename %}
					<div>
						<img src="{{ asset('uploads/photos/' ~ app.user.photoFilename) }}" alt="Photo de profil de {{ app.user.pseudo }}" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"></div>
					<a href="{{ path ('app_account_edit') }}" class="btn btn-outline-primary">Modifier ma photo</a>
				{% else %}
					<p>Aucune photo de profil enregistrée.</p>
					<a href="{{ path ('app_account_edit') }}" class="btn btn-outline-primary">Ajouter une photo</a>
				{% endif %}
			</p>
		</div>
	{% endblock %}
