{# templates/account/vehicule_new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes préférences
{% endblock %}

{% block body %}


	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account') }}">Mon profil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_reservations') }}">Mes réservations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_trajets') }}">Mes trajets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_vehicules') }}">Mes véhicules</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="true" href="#">Mes préférences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_statut') }}">Mon statut</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_avis') }}">Mes avis</a>
				</li>
			</ul>
		</div>
		<div class="card-body">

			<h2>Mes préférences de covoiturage</h2>


			{% if app.user.preferences is empty %}
				<p>Aucune préférence définie.</p>
			{% else %}

				{% for p in app.user.preferences %}
					{{ p.libelle }}
				{% endfor %}

			{% endif %}


			<h2>Modifier mes préférences</h2>


			{{ form_start(form) }}

			<fieldset class="mb-4">
				<legend>{{ form_label(form.smokingPreference) }}</legend>
				{{ form_widget(form.smokingPreference) }}
				{{ form_errors(form.smokingPreference) }}
			</fieldset>

			<fieldset class="mb-4">
				<legend>{{ form_label(form.animalPreference) }}</legend>
				{{ form_widget(form.animalPreference) }}
				{{ form_errors(form.animalPreference) }}
			</fieldset>

			<fieldset class="mb-4">
				<legend>{{ form_label(form.otherPreferences) }}</legend>
				{{ form_widget(form.otherPreferences) }}
				{{ form_errors(form.otherPreferences) }}
			</fieldset>

			<button class="btn btn-primary mb-3">Enregistrer</button>
			<a href="{{ path('app_account') }}" class="btn btn-secondary mb-3">Annuler</a>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
