{# templates/account/trajet_new.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Mes réservations
{% endblock %}

{% block body %}


	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account') }}">Mon profil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="true" href="#">Mes réservations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_trajets') }}">Mes trajets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_vehicules') }}">Mes véhicules</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_preferences') }}">Mes préférences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_statut') }}">Mon statut</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_avis') }}">Mes avis</a>
				</li>
			</ul>
		</div>


		<div class="card-body">

			{% if history is empty %}
				<p>Vous réservations apapraîtront ici.</p>
			{% else %}


				{% set now = 'now'|date("U") %}

				<h3 class="card-title my-3">Mes réservations à venir</h3>

				{% set hasUpcoming = false %}

				{% for r in history %}

					{% if r.date_depart|date("U") >= now %}
						{% set hasUpcoming = true %}


						{% include "partials/card_reservation.html.twig" %}
					{% endif %}

				{% endfor %}

				<hr>
				<h3 class="card-title my-3">Mes réservations passées</h3>

				{% set hasPast = false %}

				{% for r in history %}

					{% if r.date_depart|date("U") < now %}
						{% set hasPast = true %}


						{% include "partials/card_reservation.html.twig" %}
					{% endif %}

				{% endfor %}


			{% endif %}
			<a href="{{ path('app_rides')}}" class="btn btn-success mb-4">Rechercher un trajet</a>
		</div>
	</div>
{% endblock %}
