{% extends 'base.html.twig' %}

{% block title %}Mon Espace
{% endblock %}

{% block body %}


	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account') }}">Mon profil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_reservations') }}">Mes réservations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Mes trajets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_vehicules') }}">Mes véhicules</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_account_preferences') }}">Mes préférences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="true" href="{{ path ('app_account_statut') }}">Mon statut</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title">
				{% if app.user.statut == 'passager_chauffeur' %}
					<i class="fa-solid fa-suitcase"></i>
					Passager et
					<i class="fa-solid fa-car-side"></i>
					Chauffeur
				{% elseif  app.user.statut == 'passager' %}
					<i class="fa-solid fa-suitcase"></i>
					Passager
				{% elseif  app.user.statut == 'chauffeur' %}
					<i class="fa-solid fa-car-side"></i>
					Chauffeur
				{% endif %}
			</h5>
			<p class="card-text">
				Modifier votre statut :

				{{ form_start(statutForm) }}
				<div class="mb-4">
					{% for child in statutForm.statut %}
						<div class="form-check mb-2">
							{{ form_widget(child, { attr: { class: 'form-check-input' } }) }}
							<label
								class="form-check-label" for="{{ child.vars.id }}">
								{# Affichez l'icône selon la valeur #}
								{% if child.vars.value == 'passager' %}
									<i class="fa-solid fa-suitcase"></i>
								{% elseif child.vars.value == 'chauffeur' %}
									<i class="fa-solid fa-car-side"></i>
								{% elseif child.vars.value == 'passager_chauffeur' %}
									<i class="fa-solid fa-suitcase"></i>
									<i class="fa-solid fa-car-side"></i>
								{% endif %}
								{{ child.vars.label|capitalize }}
							</label>
						</div>
					{% endfor %}
				</div>
				<button type="submit" class="btn btn-primary">Modifier mon statut</button>

				{{ form_end(statutForm) }}
			</p>


		</div>
	{% endblock %}
