{% extends 'base.html.twig' %}

{% block title %}Mon Espace
{% endblock %}

{% block body %}


	<section class="py-4">

		<div class="container">

			<div class="row justify-content-center">

				<div class="col-md-8 col-lg-6">

					<div class="card border-0 shadow my-5">

						<div class="card-header bg-gray-100 py-4 border-0">
							<div class="d-flex align-items-center justify-content-between">
								<div>
									<p class="subtitle text-sm text-muted">Votre statut</p>
									<h4 class="mb-0">
										{{ app.user.statut }}
									</h4>
								</div>
								<div></div>
							</div>
						</div>

						<div class="card-body px-4 py-3">

							{{ form_start(statutForm) }}
							<p>Modifier votre statut :</p>

							<ul class="list-unstyled mb-4">

								{% for choice in statutForm.statut %}
									<li class="mb-2 d-flex align-items-center">{{ form_widget(choice, {
                attr: {
                  class: 'form-check-input me-2',
                  id: choice.vars.id
                }
              }) }}
										<label class="form-check-label text-sm" for="{{ choice.vars.id }}">
											{{ choice.vars.label|capitalize }}
										</label>
									</li>

								{% endfor %}


							</ul>


							<div class="d-grid text-center">
								<button type="submit" class="btn btn-primary">
									<i class="far fa-paper-plane me-2"></i>
									Enregistrer
								</button>
							</div>

							{{ form_end(statutForm) }}

						</div>

					</div>
				</div>
			</div>

			<div class="text-center m-5">
				<a class="btn btn-outline-primary btn-lg px-4 me-md-2" href="{{ path('app_account')}}">Retour</a>
			</div>

		</div>
	</section>
{% endblock %}
