{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}


	<div class="container-fluid px-3">
		<div class="row min-vh-100">

			<div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">

				<div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">

					<div class="mb-5">
						<h1>Bonjour</h1>
					</div>

					<form
						method="post" action="{{ path('app_login') }}">
						{# Email #}
						<div class="mb-4">
							<label for="username" class="form-label">Adresse email</label>
							<input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" autocomplete="email" required autofocus>
						</div>

						{# Mot de passe #}
						<div class="mb-4">
							<label for="password" class="form-label">Mot de passe</label>
							<input type="password" id="password" name="_password" class="form-control" autocomplete="current-password" required>
						</div>

						{# CSRF #}
						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						{# Bouton de connexion #}
						<div class="d-grid gap-2">
							<button class="btn btn-lg btn-primary" type="submit">
								Se connecter
							</button>
						</div>
					</form>


				</div>


			</div>

			<div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
				<div class="bg-cover h-100 me-n3" style="background-image: url(/assets/images/image\ \(3\).jpg);"></div>
			</div>
		</div>


		{# <form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}
				
							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}
				
							<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
							<label for="username">Email</label>
							<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
							<label for="password">Password</label>
							<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
							<input
							type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
				
							
				
							<button class="btn btn-lg btn-primary" type="submit">
								Sign in
							</button>
						</form> #}
	{% endblock %}
