<div class="card border">
	<div class="card-body p-4 pb-0">
		<div class="row g-4 align-item-center">

			<div class="col-md-3">
				{% if t.chauffeur_filename %}
					<img src="{{ asset('uploads/photos/' ~ t.chauffeur_filename) }}" alt="Photo de {{ t.chauffeur }}" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover;">
				{% else %}
					<img src="{{ asset('assets/images/avatar.png') }}" alt="Pas de photo" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover; opacity: 0.5;">
				{% endif %}
				<h6 class="mt-2 ms-1">{{ t.chauffeur }}</h6>
				<h6>
					{% if t.avg_rating > 0 %}
						<div class="mb-2">
							{% for i in 1..5 %}
								{% if i <= t.avg_rating|round(0, 'floor') %}
									<i class="fa-solid fa-star text-warning"></i>
								{% elseif i - t.avg_rating <= 0.5 %}
									<i class="fa-solid fa-star-half-stroke text-warning"></i>
								{% else %}
									<i class="fa-regular fa-star text-warning"></i>
								{% endif %}
							{% endfor %}

						</div>
					{% else %}
						<p class="text-muted">Pas encore de note.</p>
					{% endif %}
				</h6>
			</div>

			<div class="col-sm-4 col-md-3">
				<h4>{{ t.date_depart|date('H:i') }}</h4>
				<h6>{{ t.date_depart|date('d/m/Y') }}</h6>
				<p class="mb-0">
					<i class="bi bi-geo-fill text-success"></i>
					{{t.adresse_depart}}</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<h4>{{ t.date_arrivee|date('H:i') }}</h4>
				<h6>{{ t.date_arrivee|date('d/m/Y') }}</h6>
				<p class="mb-0">
					<i class="bi bi-geo-alt-fill text-danger"></i>
					{{t.adresse_arrivee}}</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<h4>

					{{ t.prix}}
					crédits
					<i class="fa-solid fa-coins"></i>
				</h4>
				<a href="{{path('app_trajet_detail', {id: t.id_trajet} ) }}" class="btn btn-primary my-3 w-100">Détails</a>
			</div>


		</div>
	</div>
	<div class="card-footer">
		<div class="bg-light p-2 rounded-2">
			<ul class="list-inline d-sm-flex justify-content-sm-between mb-0 mx-4">
				<li class="list-inline-item text-success {{ t.energie != 'electrique' ? 'd-none' : '' }}">
					<i class="fa-solid fa-leaf"></i>
					Voyage écologique</li>
				<li class="list-inline-item">{{ t.places_restantes}}
					place{{ t.places_restantes > 1 ? 's' : '' }}</li>
				<li class="list-inline-item">Durée :
					{{t.duree}}</li>

			</ul>
		</div>
	</div>

</div>
