<div class="list-group-item list-group-item-action p-4">
	<div class="row">
		<div class="col-lg-4 align-self-center mb-4 mb-lg-0">
			<div class="d-flex align-items-center mb-3">
				<h2 class="h5 mb-0">Passagers :</h2>
				<img>
			</div>
			<p class="text-sm text-muted">
				{% if t.passagers is empty %}
					<em>Aucun passager</em>
				{% else %}
					{{ t.passagers|join(', ')}}
				{% endif %}
			</p>
			{% if t.vehicule_energie == 'electrique' %}
				<span class="badge badge-rounded bg-success p-2 mt-2 text-white">
					<i class="fa-solid fa-leaf"></i>
					Trajet écologique</span>
			{% endif %}

		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-6 col-md-4 col-lg-3 py-3 mb-3 mb-lg-0">
					<h6 class="label-heading">TRAJET</h6>
					<p class="text-sm">{{ t.adresse_depart }}
						->
						{{ t.adresse_arrivee }}</p>
					<h6 class="label-heading">PLACES RESTANTES</h6>
					<p class="text-sm">{{ t.places_restantes }}</p>
				</div>
				<div class="col-6 col-md-4 col-lg-3 py-3">
					<h6 class="label-heading">DATE</h6>
					<p class="text-sm">{{ t.date_depart|date('d-m-Y') }}</p>
					<h6 class="label-heading">PRIX</h6>
					<p class="text-sm">{{ t.prix }}
						crédits</p>
				</div>
				<div class="col-6 col-md-4 col-lg-3 py-3">
					<h6 class="label-heading">HEURE</h6>
					<p class="text-sm">{{ t.date_depart|date('H:i') }}</p>
					<h6 class="label-heading">VEHICULE</h6>
					<p class="text-sm">{{ t.vehicule_marque }}
						{{ t.vehicule_modele }}</p>
				</div>
				<div class="col-12 col-lg-3 align-self-center">
					<span class="text-primary text-sm text-uppercase me-4 me-lg-0">
						<i class="fa fa-check fa-fw me-2"></i>
						{{ t.statut_trajet }}
					</span>
					<br class="d-none d-lg-block">

				</div>
			</div>
		</div>
	</div>
	<div class="text-center">

		<div class="d-flex justify-content-center gap-2 flex-wrap">

			{% set departDate = t.date_depart[:10] %}
			{% set today = 'now'|date('Y-m-d') %}

			{% if t.statut_trajet == 'confirmé' and departDate == today %}
				<form method='post' action="{{ path('app_trajet_demarrer', {'id': t.id_trajet}) }}" onsubmit="return confirm('Voulez-vous démarrer ce trajet ?')" ;>
					<input type="hidden" name="_token" value="{{ csrf_token('trajet_demarrer' ~ t.id_trajet) }}">
					<button class="btn btn-sm btn-primary">Démarrer</button>
				</form>
			{% elseif t.statut_trajet == 'confirmé' and departDate != today %}
				<button class="btn btn-sm btn-primary" disabled>Démarrer</button>
			{% endif %}


			{% if t.statut_trajet == 'en_cours' %}
				<form method='post' action="{{ path('app_trajet_arriver', {'id': t.id_trajet}) }}" onsubmit="return confirm('Êtes-vous arrivé à destination ?')" ;>
					<input type="hidden" name="_token" value="{{ csrf_token('trajet_arriver' ~ t.id_trajet) }}">
					<button class="btn btn-sm btn-success">Arrivée à destination</button>
				</form>
			{% endif %}


			{% if t.statut_trajet == 'terminé' %}
				<button class="btn btn-sm btn-success" disabled>En attente de validation</button>
			{% endif %}

			{% if t.statut_trajet == 'validé' %}
				<button class="btn btn-sm btn-success" disabled>Trajet terminé</button>
			{% endif %}


			{% if t.statut_trajet != ('annulé') and t.statut_trajet != ('en_cours') and t.statut_trajet != ('validé') and t.statut_trajet != ('terminé')%}
				<form method='post' action="{{ path('app_trajet_annuler', {'id': t.id_trajet}) }}" onsubmit="return confirm('Annuler définitivement ce trajet et rembourser tous les passagers ?')" ;>
					<input type="hidden" name="_token" value="{{ csrf_token('cancel_trajet' ~ t.id_trajet) }}">
					<button class="btn btn-warning">Annuler</buton>
				</form>
			{% else %}
				<button class="btn disabled btn-warning">Annuler</buton>
			{% endif %}

		</div>
	</div>
</div>
