{% extends 'base.html.twig' %}

{% block title %}Trajets signalés
{% endblock %}

{% block body %}
	<h2>Trajets signalés</h2>

	{% if signalements is empty %}
		<div class="alert alert-info">Il n'y a aucun trajet signalé pour le moment.</div>
	{% else %}
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>#Réservation</th>
					<th>Passager</th>
					<th>Email Passager</th>
					<th>Chauffeur</th>
					<th>Email Chauffeur</th>
					<th>Départ → Arrivée</th>
					<th>Date Départ</th>
					<th>Date Arrivée</th>
					<th>Date Réservation</th>
					<th>Commentaire Problème</th>
				</tr>
			</thead>
			<tbody>
				{% for s in signalements %}
					<tr>
						<td>{{ s.reservation_id }}</td>
						<td>{{ s.passager_pseudo }}</td>
						<td>{{ s.passager_email }}</td>
						<td>{{ s.chauffeur_pseudo }}</td>
						<td>{{ s.chauffeur_email }}</td>
						<td>
							{{ s.adresse_depart }}<br>
							&darr;<br>
							{{ s.adresse_arrivee }}
						</td>
						<td>{{ s.date_depart ? s.date_depart|date('d/m/Y H:i') : '—' }}</td>
						<td>{{ s.date_arrivee ? s.date_arrivee|date('d/m/Y H:i') : '—' }}</td>
						<td>{{ s.date_confirmation ? s.date_confirmation|date('d/m/Y H:i') : '—' }}</td>
						<td>{{ s.commentaire_probleme }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endif %}
{% endblock %}
