<p>Bonjour
	{{ pseudo }},</p>
<p>Le trajet de
	<strong>{{ adresse_depart }}</strong>
	à
	<strong>{{ adresse_arrivee }}</strong>
	prévu le
	<strong>{{ date_depart }}</strong>
	a été annulé par le chauffeur.</p>
<p>Vous avez été remboursé de
	{{ credits }}
	crédits.</p>
<p>Nous vous invitons à rechercher une autre opportunité sur EcoRide.</p>
<br>
<p>Merci de votre compréhension,</p>
<p>
	<em>L’équipe EcoRide</em>
</p>
