{# templates/account/trajet_new.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Mes trajets
{% endblock %}

{% block body %}

	{% set now = "now"|date("U") %}
	{% set upcomingCount = 0 %}

	{% for t in driverTrips %}
		{% set departTs = t.date_depart|date("U") %}
		{% if departTs >= now %}
			{% set upcomingCount = upcomingCount + 1 %}
		{% endif %}
	{% endfor %}

	<section class="py-5">
		<div class="container">
			<div class="d-flex justify-content-between align-items-end mb-5">
				<h1 class="hero-heading mb-0">Vos trajets à venir</h1>
				<a class="btn btn-link text-muted" href="{{ path('app_trajet_historique')}}">Historique</a>
			</div>

			{% if driverTrips is empty %}
				<p>Vos trajets apparaitront ici</p>
			{% else %}

				<div class="d-flex justify-content-between align-items-center flex-column flex-lg-row mb-5">
					<div class="me-3">
						<p class="mb-3 mb-lg-0">Vous avez
							<strong>{{ upcomingCount}}
								trajet{{ upcomingCount > 1 ? 's'}}</strong>
							de prévus</p>
					</div>
				</div>
				<div class="list-group shadow-mb-5">

					{% for t in driverTrips %}
						{% set departTs = (t.date_depart|date("U")) %}
						{% if departTs >= now %}
							{% include "partials/card_trajet_account.html.twig" %}
						{% endif %}
					{% endfor %}
				</div>
				<nav aria-label="Page trajets"></nav>
			{% endif %}


			<div class="text-center m-5">
				<a href="{{ path('app_trajet_new')}}" class="btn btn-primary btn-lg px-4 me-md-2">Ajouter un trajet</a>
				<a class="btn btn-outline-primary btn-lg px-4 me-md-2" href="{{ path('app_account')}}">Retour</a>
			</div>

		</div>
	</section>


{% endblock %}
